.single-item {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: space-between;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 6vw;
}

.item-img img {
  display: flex;
  align-items: center;
  min-width: 30vw;
  min-height: 80px;
  object-fit: cover;
  border-radius: 1rem;
}

.item-weight {
  margin-right: 3vw;
}

.product-bottom {
  display: flex;
  gap: 2vw;
}

.product-rating .fa-heart {
  font-size: 0.9rem;
  margin-left: 5vw;
  margin-bottom: 2rem;
}

.item-bottom {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 5vw;
}

input[type="checkbox"] {
  width: 1em;
  height: 1rem;
  accent-color: var(--main);
}

.item-content h1 {
  font-size: 1rem;
}

.plus-minus {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.plus-minus .item-amount {
  font-size: 1rem;
}

.item-rate {
  margin-right: 3vw;
}

.item-amount {
  color: var(--font);
}

.fa-square-minus {
  color: var(--main);
}

.fa-square-plus {
  color: var(--main);
}

.fa-trash-can {
  color: var(--delete-red);
}

.fa-square-minus,
.fa-star,
.fa-square-plus,
.fa-trash-can {
  font-size: 1.75rem;
}
