.register-container {
  display: flex;
  flex-direction: column;
  min-height: screen;
}

.register-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8vh;
}

.register-top h1 {
  color: var(--font);
  margin-top: 3vh;
}

.register-top p {
  color: var(--grey);
}

.register-inputs {
  margin-bottom: 8vh;
}

.register-inputs form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}

.register-button {
  margin: auto;
  flex-grow: 1;
}

.register-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3vh;
}


.bottom-text span {
  color: var(--main);
}

/* * We're mobile first */

/* ! Desktop */
@media only screen and (min-width: 768px) {
  .register-container {
    margin: 0 30vw;
  }

  .register-inputs form {
    gap: 3rem;
  }